body {
  background-color: pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: aqua;
  color: black;
}


/* .section-1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
} */

/* article {
  display: flex;
  flex-direction: column; */
  /* flex-flow: row wrap;
  width: 200px; */
/* } */

section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 25px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.card {
  margin: 10px;
  border: 2px solid red;
  padding: 10px;
}

.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  background-color: black;
  color: white;
}

.person-container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.person {
  margin: 10px;
  border: 2px solid blue;
  padding: 10px;
}

.person img {
  height: 300px;
}

.person h2 {
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 20px;
}
